graft arc
include LICENSE
include requirements.txt
include doc_requirements.txt
include dev_requirements.txt
include rest_requirements.txt
include cron_requirements.txt
include setup.py
include README.md
include pyproject.toml
global-exclude *.py[cod]
